{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
  <h1>neko the shadow's personal stuff</h1>
  
  <h2>SNS</h2>
  <ul>
    <li><a href="http://nekotheshadow.hatenablog.com/" target="_blank">Blog</a></li>
    <li><a href="https://twitter.com/neko_the_shadow" target="_blank">Twitter</a></li>
    <li><a href="https://qiita.com/neko_the_shadow" target="_blank">Qiita</a></li>
    <li><a href="https://github.com/nekoTheShadow" target="_blank">GitHub</a></li>
    <li><a href="https://yukicoder.me/users/2324" target="_blank">yukicoder</a></li>
    <li><a href="https://atcoder.jp/user/nekoTheShadow" target="_blank">AtCoder</a></li>
    <li><a href="https://lapras.com/public/3WQ8OHO" target="_blank">LAPRAS</a></li>
  </ul>

  <h2>Skill</h2>
  <h3>Production</h3>
  <ul>
    <li>Java EE 7</li>
    <ul>
      <li>Spring MVC</li>
      <li>Spring Batch</li>
      <li>MyBatis 3</li>
    </ul>
    <li>bash</li>
    <li>Red Hat Enterprise Linux 7.2 mapio</li>
    <ul>
      <li>維持保守</li>
      <li>rpmを利用したライブラリのインストール・管理</li>
    </ul>
    <li>Db2 Enterprise Server Edition 10.5</li>
    <ul>
      <li>インストール</li>
      <li>維持保守</li>
      <li>Java Stored Procedure</li>
      <li>SQLチューニング</li>
    </ul>
    <li>IBM Cognos Analitics 11.x</li>
    <ul>
      <li>LDAPやカスタム認証プロバイダーを利用した認証機構の設定</li>
      <li>ログメンテナンス</li>
      <li>維持保守</li>
    </ul>
    <li>tools: 導入~利用~維持保守</li>
    <ul>
      <li>SVN</li>
      <li>Maven</li>
      <li>Ant</li>
      <li>Redmine</li>
    </ul>
  </ul>

  <h3>Hobby</h3>
  <ul>
    <li>Ruby</li>
    <li>Python3</li>
    <li>C&#35;</li>
    <li>Cent OS</li>
    <li>Git &amp; GitHub</li>
  </ul>

  <h2>Licence</h2>
  <ul>
    <li>ITパスポート</li>
    <li>基本情報処理技術者試験</li>
    <li>応用情報処理技術者試験</li>
    <li>情報セキュリティスペシャリスト試験&#040;Not 情報安全確保支援士&#041;</li>
    <li>Oracle Java SE7 Silver</li>
    <li>ビジネス実務法務検定2級</li>
    <li>普通自動車運転免許AT限定</li>
  </ul>

  <hr />

  <div class="posts">
    {{ range .Data.Pages }}
    <div class="post">
      <span class="post-date">{{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}</span>
      <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    </div>
    {{- end}}
  </div>
{{- end }}

{{ define "footer" -}}
{{- end }}
